<div class="context">
  <h1 style="text-align: center;">镜喵小姐姐的D&D团</h1>
  <p>
    <strong>Title:</strong>
    <%= @dnd_log.title %>
  </p>

  <p>
    <strong>date:</strong>
    <%= @dnd_log.date %>
  </p>

  <strong>Log:</strong>
  <div class="log-list-box">
    <div class="log-list">
      <p>
        <strong>说明:</strong>&nbsp;DM：蓝色&nbsp;&nbsp; 超游：灰色 &nbsp;&nbsp;DiceBot：黄色
      </p>
      <table border="1">
        <tr>
          <th>Time</th>
          <th>Player</th>
          <th>Message</th>
        </tr>
        <% QMsg.run(@dnd_log.text).each do |log| %>
            <%= color = '' %>
            <% color = 'background-color: rgb(128, 240, 255)' if log.u_code == '715220186' %>
            <% color = 'background-color: rgb(250, 157, 78)' if log.u_code == '2339862114' %>
            <% color = 'background-color: rgb(128, 128, 128)' if ['『', '[', '【', '(', '（'].include?(log.message[1]) %>
            <tr style="<%= color %>">
              <td><%= "#{log.time.hour}:#{log.time.min}:#{log.time.sec}" %></td>
              <td><%= log.u_name %></td>
              <td><%= log.message %></td>
            </tr>
        <% end %>
      </table>

    </div>
  </div>

</div>
<footer>
  <div class="brack">
    <p>
      <%= link_to 'Index', root_path %>|
      <%= link_to 'D&D Log', dnd_logs_path %>|
      <%= link_to 'Player', players_path %>
    </p>
  </div>
</footer>